<a href="https://colab.research.google.com/github/Taran-Gupta/DS4002_Project1/blob/main/Scripts/Data%20Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os
print(os.getcwd())

c:\Users\taran\OneDrive - University of Virginia\documents\DS 4002\DS4002_Project1\Scripts

In [2]:
# load the dataset
data = pd.read_csv("../Data/spam.csv", encoding="ISO-8859-1")
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
# remove extra columns
data = data.dropna(axis=1, how='any')

# rename existing columns
data.rename(columns = {"v1": "Classification", "v2": "Message"}, inplace = True)

data.head(5)

  Classification                                            Message
0            ham  Go until jurong point, crazy.. Available only ...
1            ham                      Ok lar... Joking wif u oni...
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
3            ham  U dun say so early hor... U c already then say...
4            ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
# remove NAs
print(data.isna().any())

data.head()

# There are no NAs in this dataset.

Classification    False
Message           False
dtype: bool

  Classification                                            Message
0            ham  Go until jurong point, crazy.. Available only ...
1            ham                      Ok lar... Joking wif u oni...
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
3            ham  U dun say so early hor... U c already then say...
4            ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
# Convert to 0s and 1s. 0 will be ham and 1 will be spam.
data["Classification"] = data["Classification"].replace({"ham": 0, "spam": 1})

data.head(15) # Taking a look to make sure it replaced ham and spam correctly.

C:\Users\taran\AppData\Local\Temp\ipykernel_27884\864595836.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["Classification"] = data["Classification"].replace({"ham": 0, "spam": 1})

    Classification                                            Message
0                0  Go until jurong point, crazy.. Available only ...
1                0                      Ok lar... Joking wif u oni...
2                1  Free entry in 2 a wkly comp to win FA Cup fina...
3                0  U dun say so early hor... U c already then say...
4                0  Nah I don't think he goes to usf, he lives aro...
5                1  FreeMsg Hey there darling it's been 3 week's n...
6                0  Even my brother is not like to speak with me. ...
7                0  As per your request 'Melle Melle (Oru Minnamin...
8                1  WINNER!! As a valued network customer you have...
9                1  Had your mobile 11 months or more? U R entitle...
10               0  I'm gonna be home soon and i don't want to tal...
11               1  SIX chances to win CASH! From 100 to 20,000 po...
12               1  URGENT! You have won a 1 week FREE membership ...
13               0  I've been searching for the right words to tha...
14               0                I HAVE A DATE ON SUNDAY WITH WILL!!

In [6]:
# remove non-ASCII characters and fix decoding issues
data["Message"] = (
    data["Message"]
    .str.encode("cp1252", errors="ignore")
    .str.decode("utf-8", errors="ignore")
)

data.head(25)

    Classification                                            Message
0                0  Go until jurong point, crazy.. Available only ...
1                0                      Ok lar... Joking wif u oni...
2                1  Free entry in 2 a wkly comp to win FA Cup fina...
3                0  U dun say so early hor... U c already then say...
4                0  Nah I don't think he goes to usf, he lives aro...
5                1  FreeMsg Hey there darling it's been 3 week's n...
6                0  Even my brother is not like to speak with me. ...
7                0  As per your request 'Melle Melle (Oru Minnamin...
8                1  WINNER!! As a valued network customer you have...
9                1  Had your mobile 11 months or more? U R entitle...
10               0  I'm gonna be home soon and i don't want to tal...
11               1  SIX chances to win CASH! From 100 to 20,000 po...
12               1  URGENT! You have won a 1 week FREE membership ...
13               0  I've been searching for the right words to tha...
14               0                I HAVE A DATE ON SUNDAY WITH WILL!!
15               1  XXXMobileMovieClub: To use your credit, click ...
16               0                         Oh k...i'm watching here:)
17               0  Eh u remember how 2 spell his name... Yes i di...
18               0  Fine if thats the way u feel. Thats the way it...
19               1  England v Macedonia - dont miss the goals/team...
20               0          Is that seriously how you spell his name?
21               0     Im going to try for 2 months ha ha only joking
22               0  So _ pay first lar... Then when is da stock co...
23               0  Aft i finish my lunch then i go str down lor. ...
24               0  Ffffffffff. Alright no way I can meet up with ...

In [7]:
# save as new csv file to the "Data" folder
data.to_csv("../Data/SMS_Processed.csv", index = False)