<a href="https://colab.research.google.com/github/Taran-Gupta/DS4002_Project1/blob/main/Scripts/Data_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
import os
print(os.getcwd())

/content

In [59]:
#data = pd.read_csv("../Data/spam.csv", encoding="ISO-8859-1")
data = pd.read_csv("spam.csv", encoding="ISO-8859-1")
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [60]:
# remove extra columns

data = data.dropna(axis=1, how='any')


# rename existing columns

data.rename(columns = {"v1": "Classification", "v2": "Message"}, inplace = True)

data.head(5)

  Classification                                            Message
0            ham  Go until jurong point, crazy.. Available only ...
1            ham                      Ok lar... Joking wif u oni...
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
3            ham  U dun say so early hor... U c already then say...
4            ham  Nah I don't think he goes to usf, he lives aro...

In [65]:
# remove NAs

print(data.isna().any())

data.head()

# There are no NAs in this dataset.

# Convert to 0s and 1s. 0 will be ham and 1 will be spam.

data["Classification"] = data["Classification"].replace({"ham": 0, "spam": 1})

data.head(15) # Taking a look to make sure it replaced ham and spam correctly.

Classification    False
Message           False
dtype: bool

    Classification                                            Message
0                0  Go until jurong point, crazy.. Available only ...
1                0                      Ok lar... Joking wif u oni...
2                1  Free entry in 2 a wkly comp to win FA Cup fina...
3                0  U dun say so early hor... U c already then say...
4                0  Nah I don't think he goes to usf, he lives aro...
5                1  FreeMsg Hey there darling it's been 3 week's n...
6                0  Even my brother is not like to speak with me. ...
7                0  As per your request 'Melle Melle (Oru Minnamin...
8                1  WINNER!! As a valued network customer you have...
9                1  Had your mobile 11 months or more? U R entitle...
10               0  I'm gonna be home soon and i don't want to tal...
11               1  SIX chances to win CASH! From 100 to 20,000 po...
12               1  URGENT! You have won a 1 week FREE membership ...
13               0  I've been searching for the right words to tha...
14               0                I HAVE A DATE ON SUNDAY WITH WILL!!

In [66]:
# save as new csv file to the data folder

data.to_csv("SMS_Processed.csv", index = False) # this creates the csv file that is then uploaded to the "data" folder in GitHub